/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-custom-gob-card-block {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.service-card-block {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  //height: 100%;
  min-height: 320px;
  border-radius: 20px;
  color: white;
  position: relative;
}

.service-card-block--green-gradient {
  background: linear-gradient(77deg, #396560 11.83%, #799491 89.92%);
  color: white;
}

.service-card-block__content {
  //flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //z-index: 1;
  padding: 2rem 4rem;
}

.service-card-block__title {
  font-family: inherit;
  font-size: 36px;
  font-weight: 800;
  margin-top: 12.5px;
  margin-bottom: 5px!important;
}

.service-card-block__text {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.service-card-block__link-text {
	font-size: 18px;
	font-weight: 600;
	color: white;
	text-decoration: underline;
	margin-bottom: 12.5px;
}
